* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}

#starting-window {
    width: 100%;
}

#game-window, #waiting-window {
    display: none;
}

#waiting-window {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    text-align: center;
}

.start-btn {
    padding: 10px 20px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aquamarine;
    color: crimson;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
}

.container {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 70vh;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.square {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
}

.square:hover{
    background: royalblue;
    transition: 0.5s background ease;
}